.wrapper{
  margin: auto;

}

.in{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
}
input{
  padding-top:10px;
  width: 50%;
  padding-bottom: 10px;
  border-radius: 6px;
  border:	#E0E0E0 2px solid;

}

input::placeholder{
  text-align: left;

}

.gallery {
  max-width: 250px;
  max-height: 250px;
  margin-left:120px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 5px;
  grid-template-areas:
  "one two three four";
  grid-gap: 25px;
}
.picture{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}
img{
  max-width: 280px;
  height: 200px;

}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
