.wrapper{
  margin-left: 25px;
  margin-right: 25px;

}

.in{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
}
input{
  padding-top:10px;
  width: 50%;
  padding-bottom: 10px;
  border-radius: 6px;
  border:	#E0E0E0 2px solid;

}

input::placeholder{
  text-align: left;

}

.gallery {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
  grid-template-areas:
  "one two three four";

}
.picture{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
